logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.idea
.DS_Store
angular-phonecat-snapshots
/src/app/libs/
/src/app/nbproject/
/HTML5Application/nbproject/private/
/nbproject/private/
/nbproject
/output
/dest/app/nbproject/private/
/dist/
jshint_checkstyle.xml